.container{
	width: 720px;
	padding-left: 20px;
	border-left: 20px;
	padding-top: 54px;
	line-height: 1.5;
	font-weight:300;
	font-family: 'Lato';
	text-align: left;

}
h1{
	color: red;
	margin: 2px;
}
ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
li{
	float: left;

}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.mainbar{
	float:left;
	width: 520px;
	margin: 0 0 0 0;
	padding: 0;
}
.Sidebar {
	float: right;
	overflow: hidden;
	width:200px;
	margin: 0 0 10px 0;
}
.mainbar img{
	float:left;
}
.sidebar img{
	float: right;
}
.clear
